body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0px 0px 32px;
}

nav {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

title {
    display: none;
}

.wrapper{
    font-family:system-ui,sans-serif;
    line-height:1.5;
    font-weight:400;
    font-size:16px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    margin-bottom:32px;
}

.basic_header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    max-width:864px;
    margin-bottom:32px;
    padding-top:32px;
    padding-left:16px;
    padding-right:16px;
}

.hand_hi{
    color:inherit;
    -webkit-text-decoration:none;
    text-decoration:none;
    margin: 0;
}

.hand_hi:hover{
    color:tomato;
}

.hi{
    color:var(--theme-ui-colors-text,#000);
    margin: 0;
    -webkit-text-decoration:none;
    text-decoration:none;
    font-weight:700;
    text-transform:uppercase;
    -webkit-letter-spacing:1px;
    -moz-letter-spacing:1px;
    -ms-letter-spacing:1px;
    letter-spacing:1px;
    padding:8px;
}

.contents{
    max-width:700;
    padding-left:16px;
    padding-right:16px;
}

h1{
    font-family:inherit;
    font-weight:700;
    line-height:1.25;
    margin-top:16px;
    margin-bottom:0;
    font-size:60px;
    -webkit-letter-spacing:-0.04em;
    -moz-letter-spacing:-0.04em;
    -ms-letter-spacing:-0.04em;
    letter-spacing:-0.04em;
}

h3{
    margin-top: 0;
}

.basic_link{
    color:var(--theme-ui-colors-primary,#272727);
    -webkit-text-decoration-color:#c0bfc0;
    text-decoration-color:#c0bfc0;
}

.basic_link:hover{
    color:var(--theme-ui-colors-text,#000);
    -webkit-text-decoration-color:#000;
    text-decoration-color:#000;
}

.basic_hr{
    border:0;
    border-bottom:1px solid;
    border-color:var(--theme-ui-colors-muted,#f6f6f6);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #fb3958;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

.fa-habr {
    background: #6699cc;
    color: white;
    font: system-ui, sans-serif;
}

.fa-email {
    background: #6699cc;
    color: white;
    font: system-ui, sans-serif;
}

.fa-soundcloud {
    padding-left: 17px;
    padding-right: 23px;
    background: #ff6600;
    color: white;
}

@media screen and (min-width:40em){
    .wrapper{
        font-size:20px;
        margin-bottom:64px;
    }
    .basic_header{
        padding-top:32px;
        padding-left:32px;
        padding-right:32px;
    }
    .contents{
        padding-left:32px;
        padding-right:32px;
    }
    .header_1{
        font-size:40px;
    }
}
@media screen and (min-width:52em){
    .wrapper{
        font-size:24px;
        margin-bottom:128px;
    }
    .basic_header{
        padding-top:64px;
        padding-left:64px;
        padding-right:64px;
    }
    .contents{
        padding-left:64px;
        padding-right:64px;
    }
    .header_1{
        font-size:75px;
    }
}